   <div>
      <label><%= t('view.profile') %></label><br />
      <%= @user.profile %>
    </div>
    <br />
    <div>
      <label><%= t('view.email') %></label><br />
      <%= @user.email %>
    </div>
      <br />
    <div>
      <label><%= t('view.area') %></label><br />
      <%= @user.area %> 
    </div>
      <br />
    <% if current_user == @user %>
      <div>
        <label><%= t('view.password') %></label><br />
        <%= @user.password %> 
      </div>
      <br />
    
      <%= link_to "編集する" , edit_user_path, class: 'btn btn-primary' %>
    <% end %>