<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>     

    <section>
      <%= render 'profile' %>
    </section>

  </aside>

  <div class="col-md-8">

      <h3><%= t('view.follow') %>(<%= @users.count %>)</h3>
      <ul>
      <% @users.each do |user| %>
        <li class="follow">
          <%= gravatar_for user %>
          <p><%= link_to user.name, user_path(user.id) %></p>
        </li>
      <% end %>
      </ul>

  </div>
</div>